<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">   
    <title>Document</title>
    
</head>
<body>
    <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
    <h2 id="userCalories">Daily calories: 520</h2>
    <a href="/users/logout" id="logout">Logout</a>
    <h2>Select your dining hall</h2>
    <form id="diningHallForm">
        <select name="diningHall" id="diningHall">
            <!-- Options will be populated dynamically -->
        </select>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
        <label for="meal">Meal:</label>
        <select name="meal" id="meal">
            <option value="BREAKFAST">Breakfast</option>
            <option value="LUNCH">Lunch</option>
            <option value="DINNER">Dinner</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <h3 id="selectedHall"></h3>
    <ul id="diningHallMenu"></ul>
    <!--
    <h2>Enter Stocks</h2>
    <form action="/users/dashboard/addCourse" method="POST">
        <div>
            <input type="text" id="courseId" name="courseId" placeholder="S&P 500">
        </div>
        <div>
            <button type="submit">Add Stock</button>
        </div>
    </form>
    <div id="userCourses">
    <h2>My courses</h2>
    <form id="checkCoursesForm" action="/users/dashboard/checkCourse" method="POST">
        <div>
            <button type="submit">Load Stocks</button>
        </div>
    </form>

    <div id="coursesList"></div>
    -->
    </div>
    <div id="logModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                
                <p id="modalFoodName"></p>
                <span class="close" onclick="closeModal()">&times;</span>
                
            </div>
            <div class="modal-body">
                
                <p id="modalFoodCalories"></p>
                <p id="modalFoodProtein"></p>
                <!-- Add other nutritional info as needed -->
            </div>
            <div class="modal-footer">
                <button onclick="confirmLogFood()">Log Food</button>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>