<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">   
    <title>Document</title>
    
</head>
<body>
    <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
    <a href="/users/logout" id="logout">Logout</a>
    <h2>Daily calories: 520</h2>
    <h2>Select your dining hall</h2>
    <form action="/users/Dashboard" method="POST">
      <select name="diningHall" id="diningHall">
          <option value="NORTH">North Quad</option>
          <option value="SOUTH">South Quad</option>
          <option value="BURSLEY">Bursley Hall</option>
          <!-- Add more options for other dining halls -->
      </select>
      <button type="submit">Submit</button>
    </form>
    <h3 id="selectedHall"></h3>
    <ul id="diningHallMenu"></ul>
    <!--
    <h2>Enter Stocks</h2>
    <form action="/users/dashboard/addCourse" method="POST">
        <div>
            <input type="text" id="courseId" name="courseId" placeholder="S&P 500">
        </div>
        <div>
            <button type="submit">Add Stock</button>
        </div>
    </form>
    <div id="userCourses">
    <h2>My courses</h2>
    <form id="checkCoursesForm" action="/users/dashboard/checkCourse" method="POST">
        <div>
            <button type="submit">Load Stocks</button>
        </div>
    </form>

    <div id="coursesList"></div>
    -->
    </div>
    <script src="/js/script.js"></script>
</body>
</html>