<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">   
    <title>Document</title>
    
</head>
<body>
    <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
    <a href="/users/logout" id="logout">Logout</a>
    <h2>Select your major</h2>
    <form action="/users/Dashboard" method="POST">
        <select name="major" id="major">
            <option value="EECS" <%= selectedMajor === 'EECS' ? 'selected' : '' %>>Computer Engineering (CE)</option>
            <option value="CSE" <%= selectedMajor === 'CSE' ? 'selected' : '' %>>Computer Science (CS)</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <h2>Enter Courses</h2>
    <form action="/users/dashboard/addCourse" method="POST">
        <div>
            <input type="text" id="courseId" name="courseId" placeholder="EECS 280">
        </div>
        <div>
            <button type="submit">Add Course</button>
        </div>
    </form>
    <div id="userCourses">
    <h2>My courses</h2>
    <form id="checkCoursesForm" action="/users/dashboard/checkCourse" method="POST">
        <div>
            <button type="submit">Load Courses</button>
        </div>
    </form>

    <div id="coursesList"></div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>